/*
 * Wig (web-irc-go)
 * 2016-02-17
*/

html, body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 14px;
}

#chat {
    margin-bottom: 25px;
    background-color: #aaa;
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 200px;
    right: 0;
}

#chatInput {
	position:fixed;
	bottom:0;
	background-color:#333;
	padding: 2px;
    width: 100%;
}

#chatInput #ch {
	width: 400px;
}

#serverlist {
	position: fixed;
	width: 200px;
	top: 0;
	bottom:0;
	left: 0;
	overflow-y:auto;
	height: auto;
	margin-bottom: 25px;
	background-color: #eee;
}